<include href="./views/includes/header.html" />

<style>
    h2
    {
        text-align: center;
    }
    body
    {
        background-image: url("./image/ya.jpg");
    }
    .error
    {
        border: 1px solid red;
    }
    .error-text
    {
        color: red;
    }
</style>

<check if="{{ isset(@thread) }}">   
    <true>
        
        <form method="POST" action="{{ @BASE }}/edit-thread/{{ @thread->displayValue('id') }}">
            <div class="container">
                <h1 class="text-center">Current Title: {{ @thread->displayValue('title') }}</h1>
                <label for="title">New Title</label>
                <p class="error-text m-0">
                    {{ isset(@errors['title']) ? @errors['title'] : ''}}
                </p>
                <input type="text" 
                       class="form-control {{ isset(@errors['title']) ? 'error' : ''}}" 
                       id="title"
                       name="title" 
                       placeholder="ex: I like kittens"
                       value="{{ isset(@title) ? @title : '' }}" 
                />
                <div class="form-check row">
                    <input type="submit" value="Edit"  class="btn btn-primary"/>
                </div> 
            </div>
        </form>

    </true>
</check>
<p class="error-text m-0">
    {{ isset(@fail_message) ? @fail_message : '' }}
</p>

<include href="./views/includes/footer.html" />