<include href="./views/includes/header.html" />

<style>
    h2
    {
        text-align: center;
    }
    .error
    {
        border: 1px solid red;
    }

    .error-text
    {
        color: red;
    }
</style>
<h2>Edit Post</h2>
<br>

<check if="{{ isset(@post) }}">   
    <true>

        <form method="POST" action="{{ @BASE }}/edit-post/{{ @post->displayValue('id') }}">

            <div class="form-group">
                <label for="title">New Post</label>
                <p class="error-text m-0">
                    {{ isset(@errors['content']) ? @errors['content'] : ''}}
                </p>
                <textarea class="form-control {{ isset(@errors['content']) ? 'error' : ''}}" 
                            id="content"
                            name="content"
                            rows="5"
                >{{ isset(@content) ? @content : @post->displayValue('content') }}</textarea>
            </div>
        
            <input type="submit" value="Edit" class="btn btn-primary" />
        
        </form>

    </true>
</check>

<p class="error-text m-0">
    {{ isset(@fail_message) ? @fail_message : ''}}
</p>

<include href="./views/includes/footer.html" />