<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>

<style>
    body 
    {
        background: url("./image/ya.jpg");
        font-family: Arial, Helvetica, sans-serif;
    }
 
</style>

<!-- .bg-danger
.bg-dark
.bg-info
.bg-light
.bg-primary
.bg-secondary
.bg-success
.bg-transparent
.bg-warning
.bg-white -->


<nav class="navbar mb-3">
    <a href="./threads">Threads</a>
</nav>

<div class="container">
    <div class="text-center row mb-4">
        <h2 class="mx-auto">About</h2>
        <p class="text-center">
            Welcome! This is your online forum in which you can choose your own appropriate topic and then interact with online community. You will also be responded by machine at times. In order to participate, you need to create your own free account.
        </p>
    </div>
    <form class="row p-3" action="#" method="POST">
            
        <div class="form-group col-12 col-md-8 offset-md-2">
            <label for="email">Email</label>
            <input class="form-control" id="email" placeholder="Email">
        </div>

        <div class="form-group col-12 col-md-8 offset-md-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="custom-control custom-checkbox col-12 col-md-8 offset-md-2">
            <div class="form-check">
                <input class="custom-control-input" type="checkbox" id="remember">
                <label class="custom-control-label" for="remember">Remember Me</label>
            </div>
        </div>


        <div class="custom-control custom-checkbox col-12 col-md-8 offset-md-2">
            <div class="form-check">
                <input type="submit" value="Login" class="btn btn-primary mx-auto mb-3" />
                <input type="submit" value="Create Account" class="btn btn-primary mx-auto mb-3" />
            </div>
        </div>

        <!--<input type="submit" value="Login" class="btn btn-primary mx-auto mb-3" />-->
        <!--<input type="submit" value="Create Account" class="btn btn-primary mx-auto mb-3" />-->

    </form>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>