<include href="./views/includes/header.html" />

<div class="container flex">

    <div class="content">
        <div class="text-center row mb-4">
            <h2 class="mx-auto">About Fauxrum</h2>
            <p class="text-center">
                A simple forum for chatting with others through threads and posts. After creating 3 threads and/or 3 posts your account will begin impersonating you. Enjoy!
            </p>
        </div>
        
        <form class="row p-3" action="{{ @BASE }}/login" method="POST">

            <div class="form-group col-12 col-md-8 offset-md-2">
                <label for="username">Username</label>
                <input type="text"
                       class="form-control {{ isset(@errors['username']) ? 'error' : ''}}"
                       id="username"
                       name="username"
                       placeholder="ex: McDerpington5"
                       value="{{ isset(@username) ? @username : '' }}"
                />
                <p class="error-text text-center m-0">
                    {{ isset(@errors['username']) ? @errors['username'] : ''}}
                </p>
            </div>

            <div class="form-group col-12 col-md-8 offset-md-2">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control {{ isset(@errors['password']) ? 'error' : '' }}"
                       id="password"
                       name="password"
                       placeholder="8 or more characters, 1 upper, 1 lower, 1 digit"
                />
                <p class="error-text text-center m-0">
                    {{ isset(@errors['password']) ? @errors['password'] : '' }}
                </p>
            </div>

            <div class="col-12 col-md-8 offset-md-2">
                <p class="error-text text-center">
                    {{ isset(@fail_message) ? @fail_message : ''}}
                </p>
            </div>

            <div class="form-group col-12 col-md-8 offset-md-2 d-flex justify-content-end">
                <a href="{{ @BASE }}/register" class="btn btn-warning mr-auto border">New? Register Here</a>
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>

        </form>
    </div>

</div>

<include href="./views/includes/footer.html" />