<include href="./views/includes/header.html" />

<div class="container flex">

    <div class="content">
        <div class="text-center row mb-4">
            <h1 class="mx-auto mt-5">Login To Fauxrum</h1>
            <p class="text-center">
                A simple forum for chatting with others through threads and posts. After creating 3 threads and/or 3 posts your account will begin impersonating you. Enjoy!
            </p>
        </div>
        
        <form class="row p-3" action="{{ @BASE }}/login" method="POST">

            <div class="form-group col-12 col-md-8 offset-md-2">
                <div id="username_field" class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" 
                            class="form-control {{ isset(@errors['username']) ? 'error' : '' }}" 
                            id="username"
                            name="username"
                            aria-describedby="username_help"
                            value="{{ isset(@username) ? @username : '' }}" 
                    />
                    <label for="username">Username</label>
                    <check if="{{ isset(@errors['username']) }}">
                        <true>
                            <small id="username_help" class="error-text form-text text-center">
                                {{ @errors['username'] }}
                            </small>
                        </true>
                    </check>
                </div>
            </div>

            <div class="form-group col-12 col-md-8 offset-md-2">

                <div id="password_field" class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" 
                           class="form-control {{ isset(@errors['password']) ? 'error' : '' }}" 
                           id="password"
                           name="password"
                           aria-describedby="password_help" 
                    />
                    <label for="password">Password</label>
                    <check if="{{ isset(@errors['password']) }}">
                        <true>
                            <small id="password_help" class="error-text form-text text-center">
                                {{ @errors['password'] }}
                            </small>
                        </true>
                    </check>
                </div>
            </div>

            <div class="col-12 col-md-8 offset-md-2">
                <p class="error-text text-center">
                    {{ isset(@fail_message) ? @fail_message : ''}}
                </p>
            </div>

            <div class="form-group col-12 col-md-8 offset-md-2 d-flex justify-content-end">
                <a href="{{ @BASE }}/register" class="btn btn-warning mr-auto">Register Here</a>
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>

        </form>
    </div>

</div>

<include href="./views/includes/footer.html" />
<script src="{{ @BASE }}/views/js/loginValidation.js"></script>