<include href="./views/includes/header.html" />

<h1>Create Thread</h1>

<form id="new_post" class="container p-0" action="{{@BASE}}/new-thread" method="POST">
    <div class="row no-gutter p-0">

        <div class="form-group col-12 col-md-8 offset-md-2">
                <div id="title_field" class="md-form">
            
                <!-- <i class="fa fa-title prefix"></i> -->
                <input type="text" 
                        class="form-control {{ isset(@errors['title']) ? 'error' : '' }}" 
                        id="title"
                        name="title"
                        aria-describedby="title_help"
                        value="{{ isset(@title) ? @title : '' }}" 
                />
                <label for="title">Thread Title</label>    
                
                <check if="{{ isset(@fail_message) }}">
                    <true>
                        <small class="error-text form-text text-center">
                            {{ @fail_message }}
                        </small>
                    </true>
                </check>

                <check if="{{ isset(@errors['title']) }}">
                    <true>
                        <small id="title_help" class="error-text form-text text-center">
                            {{ @errors['title'] }}
                        </small>
                    </true>
                    <false>
                        <small id="title_help" class="form-text text-muted text-center">
                            5 - 40 characters
                        </small>
                    </false>
                </check>
            
            </div>
        </div>

        <div class="form-group col-12 col-md-8 offset-md-2">
            <div class="md-form">
                <textarea class="p-3 form-control md-textarea {{ isset(@errors['content']) ? 'error' : ''}}" 
                        id="content"
                        name="content"
                        length="1000"
                        rows="5"
                >{{ 
                    isset(@content) ? @content : '' 
                }}</textarea>

                <label for="content" class="ml-3">Write Post</label>
                
                <check if="{{ isset(@errors['content']) }}">
                    <true>
                        <small id="title_help" class="error-text form-text text-center">
                            {{ @errors['content'] }}
                        </small>
                    </true>
                </check>
            </div>
        </div>

        <a href="{{ @BASE }}{{ isset(@return_route) ? @return_route : '' }}" class="btn btn-warning">Return</a>
        <input type="submit" value="Create" class="btn btn-primary" />
        <button type="button" id="sound_smart" class="btn btn-dark">Sound Smart</button>

    </div>
</form>

<include href="./views/includes/footer.html" />
<script src="{{ @BASE }}/views/js/soundSmart.js"></script>