<include href="./views/includes/header.html" />

<style>
    h2
    {
        text-align: center;
    }
    .error
    {
        border: 1px solid red;
    }

    .error-text
    {
        color: red;
    }
</style>
<h2>Create Thread</h2>
<br>
<form action="{{@BASE}}/new-thread" method="POST">
    <div class="form-group">
        <div class="form-group">
            <label for="title">Thread Title</label>
            <p class="error-text m-0">
                {{ isset(@errors['title']) ? @errors['title'] : ''}}
                {{ isset(@fail_message) ? @fail_message : ''}}
            </p>
            <input type="text" 
                class="form-control {{ isset(@errors['title']) ? 'error' : ''}}" 
                id="title"
                name="title" 
                placeholder="ex: I like kittens"
                value="{{ isset(@title) ? @title : '' }}" 
            />
        </div>
    </div>

    <div class="form-group">
        <p class="error-text m-0">
            {{ isset(@errors['content']) ? @errors['content'] : ''}}
        </p>
        <textarea class="form-control {{ isset(@errors['content']) ? 'error' : ''}}" 
                  id="content"
                  name="content"
                  rows="5"
        >{{ isset(@content) ? @content : '' }}</textarea>
    </div>

    <input type="submit" value="Create Thread" class="btn btn-primary" />

</form>

<include href="./views/includes/footer.html" />