<include href="./views/includes/header.html" />

<style>
    h2
    {
        text-align: center;
    }
    .error
    {
        border: 1px solid red;
    }

    .error-text
    {
        color: red;
    }
</style>
<h2>Create Post</h2>
<br>

<form action="{{ @BASE }}/new-post/{{ @thread_id }}/{{ @post_id }}" method="POST">

    <div class="form-group">
        <p class="error-text m-0">
            {{ isset(@errors['content']) ? @errors['content'] : ''}}
            {{ isset(@fail_message) ? @fail_message : ''}}
        </p>
        <textarea style="white-space:pre-line;" class="form-control {{ isset(@errors['content']) ? 'error' : ''}}" 
                  id="content"
                  name="content"
                  rows="5"
        >{{ Formatting::addTags(
                Formatting::stripQuoteTags((isset(@quoted_post) ? @quoted_post->displayValue('content') : '')),
                (isset(@quoted_post) ? @quoted_post->displayValue('owner_name') : '')
            )
             
        }}{{ 
            (isset(@content) ? @content : '') 
        }}</textarea>
    </div>
    <a href="{{ @BASE }}{{ isset(@return_route) ? @return_route : '' }}" class="btn btn-warning">Return</a>
    <input type="submit" value="Create Post" class="btn btn-primary" />

</form>

<include href="./views/includes/footer.html" />