<include href="./views/includes/header.html" />

<style>
    h2
    {
        text-align: center;
    }
    /* body
    {
        background-image: url("./image/ya.jpg");
    } */

</style>

<div class="container">
    <check if="{{ isset(@posts) && isset(@thread)}}">

        <h1 class="text-center">{{ @thread->displayValue('title') }}
            <check if="{{ isset(@user_id) && @user_id == @thread->getValue('owner') && !@thread->getValue('bot_generated') }}">
                <true>
                    <a href="{{ @BASE }}/edit-thread/{{ @thread->displayValue('id') }}" 
                    class="btn btn-warning">Edit Title</a>

                    <a href="{{ @BASE }}/delete-thread/{{ @thread->displayValue('id') }}" 
                        class="btn btn-danger">Delete Thread</a>
                </true>
            </check>
            </h1>

        <true>
            <repeat group="{{ @posts }}" key="{{ @i }}" value="{{ @post }}">
                
                <div class="row mr-3">
                    <div class="col-2">
                        <h5>{{ @post->displayValue('owner_name') }}</h5>
                    </div>
                    <div class="col-8">
                        <h5>{{ Formatting::renderQuote(@post->displayValue('content')) }}</h5>
                    </div>
                    <div class="col-2">
                        <h5>{{ TimeCalculate::getTimeSinceCreation(@post->displayValue('created')) }}</h5>
                    </div>
                </div>
                <check if="{{ strtotime(@post->getValue('last_edit')) > 0 }}">
                    <true>
                        <p>
                            Editted by {{@post->displayValue('owner_name')}} 
                            {{ TimeCalculate::getTimeSinceCreation(@post->displayValue('last_edit')) }}
                        </p>
                    </true>
                </check>

                <a href="{{ @BASE }}/new-post/{{ 
                    @thread->displayValue('id') }}/{{ 
                    @post->displayValue('id') }}" 
                class="btn btn-primary">Quote</a>

                <check if="{{ isset(@user_id) && @user_id == @post->getValue('owner') && !@post->getValue('bot_generated') }}">
                    <true>
                        <a href="{{ @BASE }}/edit-post/{{ @thread->displayValue('id') }}/{{ @post->displayValue('id') }}" 
                        class="btn btn-warning">Edit Post</a>

                        <check if="{{ !@post->getValue('is_root_post') }}">
                            <true>
                                <a href="{{ @BASE }}/delete-post/{{ @thread->displayValue('id') }}/{{ @post->displayValue('id') }}" 
                                    class="btn btn-danger">Delete Post</a>
                            </true>
                        </check>

                    </true>
                </check>
                
            </repeat>

            <a name="last_post"></a>

            <h1>"{{ @BASE }}/posts/{{ 
                @thread->displayValue('id') }}/{{ @page }}/#reply_error"</h1>
            <form action="{{ @BASE }}/posts/{{ 
                @thread->displayValue('id') }}/{{ @page }}/#reply_error" method="POST">

                <div class="form-group">
                    <p class="error-text m-0">
                        {{ isset(@errors['content']) ? @errors['content'] : ''}}
                        {{ isset(@create_fail_message) ? @create_fail_message : ''}}
                    </p>
                    <check if="{{ isset(@create_fail_message) || isset(@errors['content']) }}">
                        <true><a name="reply_error"></a></true>
                    </check>
                    <textarea class="form-control {{ isset(@errors['content']) ? 'error' : ''}}" 
                              id="content"
                              name="content"
                              rows="5"
                    >{{ isset(@content) ? @content : ''  }}</textarea>
                </div>
            
                <input type="submit" value="Reply" class="btn btn-primary" />
            
            </form>

            <include href="./views/includes/pagination.html" />
        </true>

        <false>
            <p class="error-text m-0">
                {{ isset(@fail_message) ? @fail_message : '' }}
            </p>
        </false>

    </check>
</div>

<include href="./views/includes/footer.html" />