<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<style>
    h2{
        text-align: center;
    }
</style>

<h2>Welcome! Please read thread!</h2>
<br>
<form action="./views/posts.html">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h5>Khan1</h5>
            </div>
            <div class="col-10">
                <h6>Hi! i'm new in seattle and i was wondering what kind of activities are here to do?</h6>
            </div>

            <div class="col-2">
                <h5>Jake</h5>
            </div>
            <div class="col-10">
                <h6>Hi Khan1! You should visit pike place market. Also check out space needle and Alki beach!</h6>
            </div>

            <div class="col-2">
                <h5>Jessica</h5>
            </div>
            <div class="col-10">
                <h6>Hi! Woodland Zoo is in seattle. All the animals are sleeping but it's cool.</h6>
            </div>
        </div>

        <br>
        <button type="button" class="btn btn-primary">Reply</button>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>