<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<style>
    h2
    {
        text-align: center;
    }
    body
    {
        background-image: url("./image/ya.jpg");
    }

</style>

<div class="container">
    <check if="{{ isset(@posts) && isset(@thread)}}">

        <h1 class="text-center">{{ @thread->displayValue('title') }}
            <check if="{{ isset(@user_id) && @user_id == @thread->getValue('owner') }}">
                <true>
                    <a href="{{ @BASE }}/edit-thread/{{ @thread->displayValue('id') }}" 
                    class="btn btn-warning">Edit Title</a>

                    <a href="{{ @BASE }}/delete-thread/{{ @thread->displayValue('id') }}" 
                        class="btn btn-danger">Delete Thread</a>
                </true>
            </check>
            </h1>

        <true>
            <repeat group="{{ @posts }}" key="{{ @i }}" value="{{ @post }}">
            
                <div class="row mr-3">
                    <div class="col-2">
                        <h5>{{ @post->displayValue('owner') }}</h5>
                    </div>
                    <div class="col-6">
                        <h5>{{ @post->displayValue('content') }}</h5>
                    </div>
                    <div class="col-2">
                        <h5>id: {{ @post->displayValue('id') }}</h5>
                    </div>
                    <div class="col-2">
                        <h5>{{ @post->displayValue('created') }}</h5>
                    </div>
                </div>

                <a href="{{ @BASE }}/new-post/{{ 
                    @thread->displayValue('id') }}/{{ 
                    @post->displayValue('id') }}" 
                class="btn btn-primary">Reply To</a>

                <check if="{{ isset(@user_id) && @user_id == @post->getValue('owner') }}">
                    <true>
                        <a href="{{ @BASE }}/edit-post/{{ @post->displayValue('id') }}" 
                        class="btn btn-warning">Edit Post</a>

                        <check if="{{ !@post->getValue('is_root_post') }}">
                            <true>
                                <a href="{{ @BASE }}/delete-post/{{ @thread->displayValue('id') }}/{{ @post->displayValue('id') }}" 
                                    class="btn btn-danger">Delete Post</a>
                            </true>
                        </check>

                    </true>
                </check>
                
            </repeat>
        </true>

        <false>
            <p class="error-text m-0">
                {{ isset(@fail_message) ? @fail_message : '' }}
            </p>
        </false>

    </check>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>