<include href="./views/includes/header.html" />

<style>
    h2
    {
        text-align: center;
    }
    body
    {
        background-image: url("./image/ya.jpg");
    }
</style>

<br>
<h2>Statistics</h2>
<br>
<form action="./views/profile.html">

    <div class="container">
        <div class="row mr-3">

            <div class="row mr-3">
                <div class="col-12">
                    <h5><a href="/328/fauxrum">Find all posts by jake123</a></h5> <!--This should be hyperlink which will show all thread posted by author    -->
                </div>

                <div class="col-12">
                    <h5><a href="/328/fauxrum">Find all threads by jake123</a></h5> <!--This should be hyperlink which will show all thread posted by author    -->
                </div>

            <div class="col-10">
                <h5>Total number of posts:</h5>
            </div>
            <div class="col-2">
                <h5>4</h5>
        </div>




    </div>
</form>

<script>
    $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>

<include href="./views/includes/footer.html" />