<include href="./views/includes/header.html" />

<style>
    body
    {
        background: url("./image/ya.jpg");
        font-family: Arial, Helvetica, sans-serif;
    }
    .error
    {
        border: 1px solid red;
    }

    .error-text
    {
        color: red;
    }
</style>
<div class="container">
    
    <div class="text-center row mb-4">
        <h2 class="mx-auto">Sign up!</h2>
    </div>
    <form class="row p-3" action="{{@BASE}}/register" method="POST">

        <div class="form-group col-12 col-md-8 offset-md-2">
            <label for="username">Username</label>
            <input type="text" 
                class="form-control {{ isset(@errors['username']) ? 'error' : ''}}" 
                id="username"
                name="username" 
                placeholder="ex: McDerpington5"
                value="{{ isset(@username) ? @username : '' }}" 
            />
            <p class="error-text text-center m-0">
                {{ isset(@errors['username']) ? @errors['username'] : ''}}
            </p>
        </div>
        
        <div class="form-group col-12 col-md-8 offset-md-2">
            <label for="email">Email</label>
            <input type="text"
                class="form-control {{ isset(@errors['email']) ? 'error' : ''}}" 
                id="email" 
                name="email"
                placeholder="ex: pooky@yahoo.com" 
                value="{{ isset(@email) ? @email : '' }}" 
            />
            <p class="error-text text-center m-0">
                {{ isset(@errors['email']) ? @errors['email'] : ''}}
            </p>
        </div>
        

        <div class="form-group col-12 col-md-8 offset-md-2">
            <label for="password">Password</label>
            <input type="password" 
                class="form-control 
                {{ isset(@errors['password']) || 
                   isset(@errors['repeat_password']) ? 
                   'error' : '' }}" 
                id="password"
                name="password" 
                placeholder="8 or more characters, 1 upper, 1 lower, 1 digit" 
            />
            <p class="error-text text-center m-0">
                {{ isset(@errors['password']) ? @errors['password'] : '' }}
            </p>
        </div>
        
        <div class="form-group col-12 col-md-8 offset-md-2">
            <label for="repeat_password">Repeat Password</label>    
            <input type="password"
                class="form-control {{ isset(@errors['repeat_password']) ? 'error' : ''}}" 
                id="repeat_password"
                name="repeat_password" 
                placeholder="8 or more characters, 1 upper, 1 lower, 1 digit" 
            />
            <p class="error-text text-center m-0">
                {{ isset(@errors['repeat_password']) ? @errors['repeat_password'] : '' }}
            </p>
        </div>

        <div class="col-12 col-md-8 offset-md-2">
            <p class="error-text text-center">
                {{ isset(@fail_message) ? @fail_message : ''}}
            </p>
        </div>

        <div class="form-check col-12 col-md-8 offset-md-2 d-flex justify-content-end">
            <a href="{{ @BASE }}/login" class="btn mr-auto border text-muted">Already A User? Login</a>
            <input type="submit" value="Register" class="btn btn-primary"/>
        </div>

    </form>
</div>

<include href="./views/includes/footer.html" />