<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>
<body>
<style>
    body
    {
        background: url("./image/ya.jpg");
        font-family: Arial, Helvetica, sans-serif;
    }


</style>
<div class="container">
    <br>
    <div class="text-center row mb-4">
        <h2 class="mx-auto">Sign up!</h2>
    </div>
<form class="row p-3" action="#" method="POST">

    <div class="form-group col-12 col-md-8 offset-md-2">
        <label for="username">Username</label>
        <br>
        <input class="form-control" id="username" placeholder="Username">
    </div>
    <br>
    <div class="form-group col-12 col-md-8 offset-md-2">
        <label for="email">Email</label>
        <br>
        <input class="form-control" id="email" placeholder="Email">

    </div>
    <br>

    <div class="form-group col-12 col-md-8 offset-md-2">
        <label for="password">Password</label>
        <br>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <br>

    <div class="form-group col-12 col-md-8 offset-md-2">
        <label for="retype-password">Retype Password</label>
        <br>
        <input class="form-control" id="retype-password" placeholder="retype-password">
    </div>

    <div class="custom-control custom-checkbox col-12 col-md-8 offset-md-2">
        <div class="form-check">
            <input type="submit" value="Register" class="btn btn-primary mx-auto mb-3"/>
        </div>
    </div>

</form>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>