<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<style>

</style>
<form action="#">
    <div class="container">
        <div class="row mr-3">
            <div class="col-2">
                <h1>Sign Up</h1>
            </div>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <br>
            <div>
                <label>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username">
            </div>
            <br>
            <div>
                <label>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email">
            </div>
            <br>
            <div>
                <label>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw">
            </div>
            <br>

            <div>
                <label>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat">
            </div>
            <br>

            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
            <br>
        </div>
        <div class="pl-5">
            <button type="button" class="btn btn-primary ml-5">Register</button>
        </div>
    </div>
</form>


</div>
</body>
</html>