<include href="./views/includes/header.html" />

<div class="pl-5">
    <a href="{{ @BASE }}/new-thread" class="btn btn-primary ml-5">Create New Thread</a>
</div>
    <div class="container">
        <check if="{{ isset(@threads) }}">

            <true>
                <repeat group="{{ @threads }}" key="{{ @i }}" value="{{ @thread }}">
                
                    <a href="{{ @BASE }}/posts/{{ @thread->getValue('id') }}" class="row mr-3">
                        <div class="col-2">
                            <h5>{{ @thread->displayValue('owner_name') }}</h5>
                        </div>
                        <div class="col-4">
                            <h5>{{ @thread->displayValue('title') }}</h5>
                        </div>
                        <div class="col-1">
                            <h5>Views: {{ @thread->displayValue('views') }}</h5>
                        </div>
                        <div class="col-1">
                            <h5>Replies: {{ @thread->displayValue('replies') }}</h5>
                        </div>
                        <div class="col-2">
                            <h5>created: {{ TimeCalculate::getTimeSinceCreation(@thread->displayValue('created')) }}</h5>
                        </div>
                        <div class="col-2">
                            <h5>last reply: {{ TimeCalculate::getTimeSinceCreation(@thread->displayValue('last_reply')) }}</h5>
                        </div>
                    </a>
                
                </repeat>
                
                <include href="./views/includes/pagination.html" />
            </true>

            <false>
                <p class="error-text m-0">
                    {{ isset(@fail_message) ? @fail_message : ''}}
                </p>
            </false>

        </check>
    </div>

<include href="./views/includes/footer.html" />