<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thread</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>
<style>
    h2
    {
        text-align: center;
    }
    body
    {
        background-image: url("./image/ya.jpg");
    }
</style>
<h2>Welcome to Fauxrum</h2>
<br>
<form action="./views/thread.html">
<div class="pl-5">
    <button type="button" class="btn btn-primary ml-5">Create New Thread</button>
</div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <h5>Khan1</h5>
            </div>
            <div class="col-6">
                <h5>What's good in Seattle</h5>
            </div>
            <div class="col-2">
                <h5>Replies: 8</h5>
            </div>
            <div class="col-2">
                <h5>8:52am</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>John94</h5>
            </div>
            <div class="col-6">
                <h5>Anyone wanna go bowling?</h5>
            </div>
            <div class="col-2">
                <h5>Replies: 15</h5>
            </div>
            <div class="col-2">
                <h5>2:00pm</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Sarah1990</h5>
            </div>
            <div class="col-6">
                <h5>Coldplay concert ticket for sale</h5>
            </div>
            <div class="col-2">
                <h5>Replies: 200</h5>
            </div>
            <div class="col-2">
                <h5>5:00am</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>jakefromstateform</h5>
            </div>
            <div class="col-6">
                <h5>Who needs car insurance?</h5>
            </div>
            <div class="col-2">
                <h5>Replies: 2</h5>
            </div>
            <div class="col-2">
                <h5>3:30pm</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>progressive</h5>
            </div>
            <div class="col-6">
                <h5>Don't buy car insurance from statefarm. Buy it from us.</h5>
            </div>
            <div class="col-2">
                <h5>Replies: 5</h5>
            </div>
            <div class="col-2">
                <h5>1:00pm</h5>
            </div>
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>