<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thread</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>
<style>
    h2
    {
        text-align: center;
    }
    body
    {
        background-image: url("./image/ya.jpg");
    }
    .error
    {
        border: 1px solid red;
    }

    .error-text
    {
        color: red;
    }
</style>
<!-- <nav class="navbar d-flex justify-content-end"> -->
<nav class="container d-flex justify-content-end">
    <a href="{{ @BASE }}/logout" class="btn btn-warning m-2">Logout</a>
</nav>
<!-- </nav> -->

<h2>Welcome to Fauxrum</h2>
<div class="pl-5">
    <a href="{{ @BASE }}/new-thread" class="btn btn-primary ml-5">Create New Thread</a>
</div>
    <div class="container">
        <check if="{{ isset(@threads) }}">

            <true>
                <repeat group="{{ @threads }}" key="{{ @i }}" value="{{ @thread }}">
                
                    <a href="{{ @BASE }}/posts/{{ @thread->getValue('id') }}" class="row mr-3">
                        <div class="col-2">
                            <h5>{{ isset(@username) ? '' : @thread->displayValue('owner') }}</h5>
                        </div>
                        <div class="col-4">
                            <h5>{{ @thread->displayValue('title') }}</h5>
                        </div>
                        <div class="col-2">
                            <h5>Views: {{ @thread->displayValue('views') }}</h5>
                        </div>
                        <div class="col-2">
                            <h5>Replies: {{ @thread->displayValue('replies') }}</h5>
                        </div>
                        <div class="col-2">
                            <h5>{{ @thread->displayValue('created') }}</h5>
                        </div>
                    </a>
                
                </repeat>
                
                <include href="{{ @BASE . '/views/pagination.html' }}" />
            </true>

            <false>
                <p class="error-text m-0">
                    {{ isset(@fail_message) ? @fail_message : ''}}
                </p>
            </false>

        </check>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>