body
{
    font-family: Ubuntu, Roboto, sans-serif;
    background: white url("../images/clouds.jpg") center no-repeat;
    background-size: cover;
}
.error
{
    border: 1px solid red;
}

.error-text
{
    color: red;
}